@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<section>
    <p>The purpose of the system is to keep the restaurant records and the dishes served by them updated.</p>
    <p> For this, two registers must be created that will allow such tasks. </p>
    <ul>
        <li><p> Restaurants Register: This register will keep records related to restaurants.</p></li>
        <li><p> Plate Registration: This register will keep the records related to the dishes.</p></li>
    </ul>
</section>