@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    Hermosillo, Sonora, Mexico<br />
</address>
<address>
    <strong>Tech Support:</strong> <a href="mailto:e.olivarriaa@gmail.com">e.olivarriaa@gmail.com</a><br />
</address>
